body {
    font-family: sans-serif;
}

h2 {
    margin-top: 4px;
}

.project, .algo {
    border: solid 1px gray;
    background-color: lavender;
    margin: 16px 0px;
    padding: 8px;
}

.jeps, .jump_container {
    border: solid 1px gray;
    background-color: khaki;
    padding: 8px;
}

.jep {
    padding: 4px 0px 4px 8px;
}

.jepstatus {
    font-size: smaller;
}

.description {
    font-style: italic;
}

li {
    padding: 4px;
}

.intro > div {
    font-weight: bold;
    margin-bottom: 8px;
}

.jump {
    border: 1px solid gray;
    float: left;
    clear: none;
    margin: 4px;
    padding: 4px 8px;
    background-color: lavender;
    font-weight: bolder;
}

.clear {
    clear: both;
}

.warn {
    font-style: italic;
    color: red;
    font-weight: bold;
    padding-bottom: 8px;
}

h1
{
    margin: 8px 0px;
}

.sponsor {
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 8px;
    white-space: nowrap;
    background-color: #aaffaa;
}

.sponsor a {
    color: blue;
    font-size: 18px;
}