<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort, Search, and Filter JEPs</title>
    <link rel="stylesheet" type="text/css" href="../style_jepmap.css" title="css">

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
<script type="text/javascript">
    function getParam() {
        return window.location.href.slice(window.location.href.indexOf('?') + 1)
            .split('=')[1];
    };

    $(document)
        .ready(
            function () {
                $('#myTable')
                    .DataTable(
                        {
                            "order":[[5,"desc"]],
                            "pageLength": 500,
                            "lengthChange": false,
                            "oLanguage": {
                                "sSearch": "Search: "
                            },
                            initComplete: function () {
                                this.api().search(getParam());

                                this.api().draw();

                                this
                                    .api()
                                    .columns([3, 6])
                                    .every(
                                        function () {
                                            var column = this;
                                            var select = $(
                                                '<select><option value="">Show All</option></select>')
                                                .appendTo(
                                                    $(column.header()).empty()).on(
                                                    'change',
                                                    function () {
                                                        var val = $.fn.dataTable.util
                                                            .escapeRegex($(this)
                                                                .val());

                                                        column.search(
                                                            val ? '^' + val + '$'
                                                                : '', true, false)
                                                            .draw();
                                                    });

                                            column
                                                .data()
                                                .unique()
                                                .sort()
                                                .each(
                                                    function (d, j) {
                                                        select
                                                            .append('<option value="' + d + '">'
                                                                + d + '</option>')
                                                    });
                                        });
                            }
                        });
            });
</script>
%TOPMENU%
<h1>Sort, Search, and Filter JEPs</h1>
<div class="intro">
    <div>Built using <a href="https://github.com/chriswhocodes/JEPMap">JEPMap</a> by <a
            href="https://twitter.com/chriswhocodes">@chriswhocodes</a>.
        Last updated: %UPDATED%
    </div>
</div>
<table id="myTable" class="display cell-border">
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Issue</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Release</th>
        <th>Discussion</th>
        <th>Related</th>
        <th>Depends</th>
        <th>Projects</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th>Release</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    %BODY%
</table>
</body>
</html>